# My settings do not need to be in here.
.vscode

# No need to have these, state is not an issue.
.ipynb_checkpoints

# these are just always annoying.
__pycache__

# In case .csv is in use.
.~lock.
.history
